*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
                Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: #eeeeee;
}

/* nav - menubar styles starts */
.menubar{
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin: 10px auto;
    transition: all 0.35s ease;
}

.menuLogo{
    justify-content: left;
    height: 35px;
    padding: 10px;
}

.menuUL{
    display: flex;
}

.menuUL a{
    padding: 20px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .35s ease-in-out;
}

.menuUL a:hover{
    color: #e0784f;
}

.search{
    position: relative;
    right: 10px;
}

.search_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.searchMenu{
    justify-content: flex-end;
    padding: 5px 5px 5px 15px; 
    font-size: 15px;
    border-radius: 20px;
    border: .2px solid black;
}

.right-end {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes it to the right */
}

.close-sidebar-button:hover,
.open-sidebar-button:hover{
    background-color: #f87541;
}
.close-sidebar-button,
.open-sidebar-button{
    margin: 10px;
    padding: 10px 13px;
    font-size: 15px;
    border-radius: 50%;
    background-color: #f4a383;
    border: none;
}

.close-sidebar-button{
    margin: 0 20px 0 auto;
    display: none;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button{
    display: flex;
}

/* making it responvie for phone or smaller display  */ 
@media screen and (max-width: 1380px){
    .menuUL a{
        width: 40em;        
    }
    .menuUL a:hover{
    background-color: rgba(0, 0, 0, 0.5);
        /* color: white; */
    }
    .menuUL {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 30em;
        height: 100%;
        z-index: 100;
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        /* backdrop-filter: blur(10px); */
        transition: right 0.75s ease-out;
        padding: 20px 0;
        overflow-y: auto;
        background-color: rgb(211, 211, 211);
    }
    
    .menuUL a {
        box-sizing: border-box;
        height: auto;
        /* width: 70%; */
        padding: 20px 20px;
        font-size: 18px;
        justify-content: flex-start;
        /* border-radius: 0; */
        display: flex;
    }
    
    .searchMenu {
        width: 120px;
    }
    
    .close-sidebar-button{
        padding: 10px 15px;
        font-size: 19px;
    }
    
    .close-sidebar-button,
    .open-sidebar-button {
        display: block;
    }
    
    /* Change hamburger to X when menu is open */
    #sidebar-active:checked ~ .right-end .open-sidebar-button i:before {
        content: "\f00d"; /* fa-xmark unicode */
    }
    
    /* When checkbox is checked, show the menu */
    #sidebar-active:checked ~ .menuUL {
        display: flex;
        right: 0px;
    }
    
    /* Overlay when menu is open */
    #sidebar-active:checked ~ #overlay {
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 768px) {
    .menuUL {
        width: 70%;
    }
    .searchMenu {
        width: 100px;
    }
    .menubar {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 480px) {
    .menuUL {
        width: 80%;
    }
    
    .search {
        padding: 6px 12px;
    }
    
    .searchMenu {
        width: 80px;
    }
}
/* nav - menubar styles ends */

/* HOME PAGE  */
/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 1

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.homepage{
    display: flex;
    width: 90%;
    height: 90vh;
    margin: auto;
    justify-content: space-between;
    /* background-color:yellow; */
}

@media screen and (max-width: 1380px) {
    .homepage{
        margin-bottom: 210px;
    }  
}

.leftSideHome{
    position: relative;
    width: 1000px;
    left: 60px;
    padding: 10px;
    margin: 20px;
    /* transition: all .43s ease; */
}

.leftSideHome img{
    width: 950px;
    margin-left: 10px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
}

.leftSideHome p{
    font-size: 2.5em;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 32px;
}

.note_icon_date{
    position: relative;
    left: 10px;
    width: 380px;
}

.box_note_icon{
    width: 200px;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
}

.bni0{
    background: #6e41e8; 
}

.bni1{
    background: #e3c034; 
}

.bni2{
    background: #e74c3c
    ; 
}
.bni3{
    background: #38ade8; 
}

.bni4{
    background: #32d255; 
}

.bni5{
    background: #e8493a; 
}


/* icons color  */
.fa-globe,
.fa-briefcase,
.fa-user-check,
.fa-user-doctor,
.fa-microchip{
    font-size: 17px;
    padding: 5px;
    padding-left: 7px;
    color: white;
}

.boxtext{
    color: white;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.date{
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
}


.dis{
    display: none;
    margin: 0 6%;
}

.rightSideHome{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 60px;
    padding-right: 100px;
    margin: 30px auto 40px;
    /* background-color: #32d255; */
}


.h333{
    /* background-color: #e02424; */
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.note_icon_date hr{
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: .5;    
}

/* responsive homepage start */

@media screen and (max-width: 1780px) {
    .leftSideHome{
        width: 950px;
        left: 45px;
        padding: 7px;
        margin: 20px;        
    }
    
    .leftSideHome img{
        width: 900px;
    }
    
    .leftSideHome p{
        font-size: 2em;
        font-weight: 600;
        padding: 10px;
        margin-bottom: 30px;
    }

    
    .rightSideHome{
        /* display: flex; */
        /* flex-direction: column; */
        /* position: relative; */
        padding-left: 20px;
        /* padding-right: 100px; */
        margin: 30px 20px 40px;
        /* background-color: #32d255; */
    }
    
    .h333{
        /* background-color: #e02424; */
        font-size: 18px;
        /* font-weight: 500; */
        /* margin-top: 20px; */
        margin-bottom: 18px;
    }
    
    .note_icon_date hr{
        /* margin-top: 20px; */
        margin-bottom: 35px;
        /* opacity: .5; */
    }
    
}

@media screen and (max-width: 1560px) {
    .leftSideHome{
        width: 850px;
        left: 40px;
        /* padding: 7px; */
        /* margin: 20px;         */
    }
    
    .leftSideHome img{
        width: 800px;
    }
    
    .leftSideHome p{
        font-size: 1.8em;
        /* font-weight: 600; */
        /* padding: 10px; */
        /* margin-bottom: 30px; */
    }
    
    
    .rightSideHome{
        margin-left: 50px;
        /* padding-right: 100px; */
        margin: 35px auto 40px;
        /* background-color: #32d255; */
    }
    
    .h333{
        /* background-color: #38ade8; */
        font-size: 18px;
        /* font-weight: 500; */
        /* margin-top: 20px; */
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 1400px) {
    .leftSideHome{
        width: 750px;
        left: 40px;
    }
    
    .leftSideHome img{
        width: 700px;
    }

    .leftSideHome p{
        font-size: 1.8em;
    }
    
    
    .rightSideHome{
        margin-left: 50px;
        margin: 35px auto 40px;
    }
    
    .h333{
        /* background-color: #38ade8; */
        font-size: 18px;
        margin-bottom: 18px;
    }
    
    .date{
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .leftSideHome{
        width: 700px;
        left: 25px;
    }
    
    .leftSideHome img{
        width: 650px;
    }

    .rightSideHome{
        margin-left: 50px;
        margin: 35px auto 40px;
    }
    
    .h333{
        /* background-color: #38ade8; */
        font-size: 18px;
        margin-bottom: 18px;
    }
}

/* 1280 */
@media screen and (max-width: 1280px) {
    .homepage {
        flex-direction: column;
    }
    
    .leftSideHome{
        width: 90%;
        left: 15px;
    }   
    .rightSideHome{
        width: 80%;
    }
    .leftSideHome img{
        width:100%
    }
    
    .leftSideHome p{
        width: 90%
        
    }
}


@media screen and (max-width: 1050px) {
    .leftSideHome p{
        font-size: 19px;
    }

    .leftSideHome{
        justify-content: center;
        align-items: center;  
        margin: 0px;
        padding: 10px;      
    } 

    .search{
        display: none;
    }

    .dis{
        margin-top: 20px;
        display: flex;
    }

    .leftSideHome img{
        margin: 0px;
        padding: 0px;
    }
}
/* responsive homepage end */


/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 2

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.homePage2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}


.minicards{    
    width: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* background-color: #e74c3c; */
    align-items: center;
    justify-content: center  ;
    gap: 20px;
}

.mbox{
    position: relative;
    overflow-x: hidden;
    width: 260px;
    height: 325px;
    background-color: #38ade8;
    margin: auto;
    border-radius: 8px;
}

.mbtext{
    /* bottom: 0; */
    position: absolute;
    width: 100%;
    height: 20px;
    padding: 20px;
    /* padding-left: 0; */
    font-size: 18px;
    font-weight: 600;
    color: white;
    backdrop-filter: blur(5px);
    /* text-align: center; */
    top: auto;
    bottom: 0px;
}

.mb1:hover{
    box-shadow: 0px 2px 16px rgb(142, 173, 173);
}
.mb2:hover{
    box-shadow: 0px 2px 16px rgb(43, 63, 76);
}
.mb3:hover{
    box-shadow: 0px 2px 16px rgb(114, 99, 92);
}
.mb4:hover{
    box-shadow: 0px 2px 16px rgb(150, 170, 150);
}
.mb5:hover{
    box-shadow: 0px 2px 16px rgb(0, 25, 82);
}

.mb1,.mb2,.mb3,.mb4,.mb5{
    background-size: cover;
    background-repeat: none;
    aspect-ratio: 4/5;
}

.mb1{
    background-image: url('imgs/b1.jpg');
}
.mb2{
    background-image: url('imgs/b2.jpg');
}
.mb3{
    background-image: url('imgs/b3.jpg');
}
.mb4{
    background-image: url('imgs/b4.jpg');
}
.mb5{
    background-image: url('imgs/b5.jpg');
}

@media screen and (max-width: 1860px) {    
    .homePage2{
        margin-top: 80px;
    }
    .mbox{
        margin: auto;
    }
}
@media screen and (max-width: 1280px) {    
    .homePage2{
        margin-top: 750px;
    }
    .mbox{
        margin: auto;
    }
}
@media screen and (max-width: 1080px) {    
    .homePage2{
        margin-top: 600px;
    }
    .mbox{
        margin: auto;
    }

}
@media screen and (max-width: 905px) {    
    .homePage2{
        margin-top: 440px;
    }
    .mbox{
        margin: auto;
    }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 3

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.homepage3{
    width: 80%;
    margin: 120px auto;
    /* padding: 30px; */
    /* height: 500px; */
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1680px){
  .homepage3{
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .boxleft,
  .boxrightphoto{
        top: 40px;
        /* margin: 0; */
        padding: 0;
        min-width: 625px;
    }
}

.boxleft{
    width: 40vw;
    height: 650px;
    border-radius: 8px;
    background-color: #ffffff;
}

.boxrightphoto{
    background-image: url('imgs/page3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;

    width: 60vw;
    height: 650px;
    
    /* background-color: #38ade8; */
    margin-bottom: 60px;
}

.insidetext{
    /* background-color: #e74d3c48; */
    padding: 40px ;
}

.stext{
    font-size: 14px;
}

.editor{
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.opacitykom{
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: rgb(141, 141, 141);
    padding-bottom: 10px;
}


.titletext{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 4

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

 .homepage4{
     background-color: #f08f64; 
     padding-left:140px;
     padding-right:140px;
     overflow-x: hidden;
  }

  @media screen and (max-width:1860px) {
    .homepage4{
        padding-left: 100px;
        padding-right: 100px;
    }
  }
  @media screen and (max-width:1790px) {
    .homepage4{
        padding-left: 50px;
        padding-right: 50px;
    }
  }
  @media screen and (max-width:1700px) {
    .homepage4{
        padding-left: 0px;
        padding-right: 0px;
    }
  }
  @media screen and (max-width:1690px) {
    .homepage4{
        padding-left: 0px;
        padding-right: 0px;
    }
  }
  @media screen and (max-width:1590px) {
    .homepage4{
        display: flex;
        flex-direction: column;
    }

  }
/*
homepage 4 er aro responsive kor te hobe next time
*/

.homepage4inside{
    height: 830px;
    margin-bottom: 50px;
    display: flex;
}

.content4{
    width: 950px;
    height: 750px;    
    margin: auto;
}

.latest{
    font-size: 45px;
    text-transform: uppercase;
    padding: 30px;
}


.hp4right{
    width: 640px;
    /* height: 100%; */
    /* background-color: #df47b9;     */
}
.page2photoleft{
    display: flex;    
}

.imgbox{
    position: relative;
    padding: 8px;
    /* background-color: #e74c3c; */
    left: 25px;
}


.imgbox img{
    width: 430px;
    height: 470px;
    aspect-ratio: 4/3;
    border-radius: 10px;
}

.smlSubDate{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phototextHP4{
    width: 440px;
    font-size: 22px;
    font-weight: 500;
}

.boxwithphot{
    display: flex;
    width: 100%;
    /* background-color: #32c2d2; */
    margin: auto;
}

.bwp{
    margin-bottom: 70px;
}

.boxwithphot img{
    width: 210px;
    height: 150px;
    /* aspect-ratio: 5/4; */
    border-radius: 8px;
}

.right4{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.next_rigth4{
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    padding: 45px;
}

.RIGHTAROOW{
    font-size: 30px;
    font-weight: 600;
}

.txtsHP4{
    padding: 20px;
    margin: auto;
}

.dateHP4{
    /* padding: 20px; */
    text-transform: uppercase;
    padding-left: 10px;
    
}

.sidetextHP4{
    padding-left: 10px;
    font-size: 22px;
    font-weight: 600;
}


@media screen and (max-width: 1600px) {
    
    .homepage4{
      background-color: #ee9670f5; 
      padding: 0px;
    }
    .latest{
        padding: 20px;
    }
    .page2photoleft{
        height: 600px;
        margin: auto;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .imgbox{
        max-width: 440px;
        height: 600px;
        margin: auto;
        align-content: center;
        padding: 0px;
        left: 0px;
    }
    .phototextHP4{
        max-width: 440px;
        height: 600px;
    }
}

@media screen and (max-width: 1600px) {
    .homepage4inside, 
    .homepage4{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .hp4right{
        /* width: 1000px; */
        margin: auto;
    }
    .hp4left{
        margin: auto;
        padding: 0;
    }
    .right4{
        margin: auto;
    }
}

@media screen and (max-width: 980px) {
    .page2photoleft{
        flex-direction: column;
        /* background-color: rebeccapurple ; */
        height: auto;
        /* margin-bottom: 500px; */
    } 
    .imgbox{
        /* max-width: 440px; */
        /* height: 600px; */
        margin: auto;
        align-content: center;
        padding: 0px;
        left: 0px;
    } 
    .hp4right{
        width: 640px;
    }
    .content4{
        width: 440px;
        height: auto;
    }
    .latest{
        padding: 40px 0px 30px 0px ; 
        /* padding-bottom: 30px; */
    }
    .right4{
        width: 440px;
        /* margin: auto; */
        margin-top: 00px;
    } 
}
/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 5

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


.homepage5{
    overflow-x: hidden;
    margin-top: 0px;
    height: 900px;
}

.hp5{
    display: flex;
    margin: auto;
    width: 90%;
    height: 90vh;
    /* background-color: #38ade5; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

.home5left,
.home5right{
    height: 90vh;
    /* background-color: #32d255; */
}

.home5left{
    width: 55%;
    left: 0px;
    /* background-color: #6e41e8; */
    display: flex; 
    flex-direction: column;
    margin: auto;
    padding: 0px 20px;
}

.h5_left_text{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    padding: 30px  17px 10px 30px  ;
}


.gridboxs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 30px;
}

.hp5Box{
    margin: 0 auto;
    width: 430px;
    height: 340px;    
}

.hp5Box img{
    width: 430px;
    height: 270px;
    border-radius: 5px;
}

.home5right{
    width: 35%;
    position: relative;
    /* background-color: cadetblue; */
    /* left: 0px; */
    right: 30px;
}

.dateh5box{
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title_Of_hp5box{
    font-size: 22px;
    font-weight: 700;
}

.h5_right_text{
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
    width: 540px;
    text-align: right;
    text-transform: uppercase;
    padding: 0px 0px 30px 0px;
}

.content5right{
    /* margin-top: 25px; */
    width: 550px;
    height: 750px;
    background-image: url(imgs/hp5_Right.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;  
    position: relative;
    right: 10px;  
    z-index: -1;
}

.top_image_text_btn_type{
    /* top: 30px; */
    position: relative;
    left: 40px;
    top: 40px;
    padding: 5px;
    width: 150px;
    background-color: #e0784f;
    /* justify-content: left; */
    /* align-items: center; */
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    z-index: 1;
}

.h5rdown{
    position: relative;
    z-index: 0;
    /* margin-top: -30px;/ */
    top: 170px;
    width: 550px;
    height: 550px;
    bottom: 0px;
    background: linear-gradient(0, rgba(0, 0, 0, 0.842), transparent);
    border-radius: 10px;
}


.arrow{
    font-size: 25px;
    justify-content: center;
    align-items: center;
}


.fadeDate{
    position: relative;
    top: 340px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px;
}

.fadeTitle{
    position: relative;
    top: 320px;
    color: white;
    padding: 20px;
    font-size: 33px;
    font-weight: 600;
}




@media screen and (max-width: 1790px) {
    .h5_left_text{
        font-size: 35px;
        padding: 30px  17px 10px 10px  ;
    }
    .homepage5 {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 2rem;
    }
    
    .hp5 {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .home5left {
        width: 100%;
        max-width: 700px;
        height: auto;
        /* background-color: #6f71eb; */
        display: flex;
        flex-direction: column;
        margin: 0 1.5rem;
        padding: 1rem;
        border-radius: 10px;
    }
    
.gridboxs {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.hp5Box {
    width: 100%;
    max-width: 330px;
    height: auto;
}

.hp5Box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
  .home5right {
    width: 100%;
    max-width: 420px;
  }
  .h5_right_text {
    /* background-color: #41a5e8; */
    width: 100%;
    max-width: 340px;
    padding: 15px 0px ;
    border-radius: 10px;
  }
  .title_Of_hp5box {
    font-size: 1.2rem;
  }
  .content5right {
    margin: 0;
    border-radius: 5px;
    margin-top: 0px;
    max-width: 440px;
    height: 650px;
  }

    .h5rdown{
        position: relative;
        z-index: 0;
        /* margin-top: -30px;/ */
        top: 70px;
        width: 440px;
        height: 550px;
        bottom: 0px;
        background: linear-gradient(0, rgba(0, 0, 0, 0.842), transparent);
        border-radius: 10px;
    }

    .fadeDate{
        position: relative;
        top: 350px;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        padding: 20px;
    }

    .fadeTitle{
        position: relative;
        top: 340px;
        color: white;
        padding: 20px;
        font-size: 26px;
        font-weight: 600;
    }




}


/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 6

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/



.homepage6{
    margin-top: 100px;
    height: 600px;
    width: 100%;
    /* background-color: #32d255; */
    align-content: center;
}

.hp6_Con{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

.bannnerTypePhoto{
    background-image: url('imgs/hp6B.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

    width: 80%;
    height: 500px;
    display: flex;
    z-index: 0;
}

.wideblur{
    position: relative;
    top: 280px;
    /* background-color: #32d25531; */
    width: 100%;
    height: 220px;
    z-index: -1;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
}

.binsidetext{
    position: relative;
    z-index: 10;
    width: 70%;
    height: 220px;
    top: 00px;    
    /* background-color: #089ce69d; */
}

.title_binside{
    padding: 30px;
    font-size: 45px;
    font-weight: 500;
    color: white;
}

.desc_binside{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.btn_binside{
    position: relative;
    z-index: 10;
    width: 30%;
    height: 220px;
    /* top: 00px; */
    /* background-color: #e67e089d; */
    justify-content: center; 
    align-content: center;   
    align-items: center;
}


.btn_withtext {
    background-color: #e0784f;
    width: 200px;
    height: 50px; /* ensure a fixed height for vertical centering */
    
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    
    border-radius: 55px;
    padding: 0 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    right: -200px;
    cursor: pointer;

    /* z-index: 10; */
}


.arrow2{
    font-size: 26px;
    padding-left: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}


/* home6 responsive kora hoi ni akon o */


/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 7

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.arrow7{
    font-size: 26px;
    padding-left: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.homepage7{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    /* align-content: center; */
}

.tandmore{
    margin: 0 80px;
    height: 100px;
    display: flex;
}

.l_Team7{
    height: 100px;
    width: 70%;
    font-size: 40px;
    font-weight: 650;
    text-transform: uppercase;
    
    display: flex;
    padding-left: 30px;
    align-items: center;
}


.view_all{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    
    position: relative;
    padding: 34px;
    left: 310px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    /* background-color: #32d255; */
}


.linerbox7{
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10px;
    align-content: center;
    padding: 30px;
}

.box71,
.box72,
.box73{
    width: 500px;
    height: 590px;
    background-color:  rgb(39, 129, 248);
    border-radius: 5px;
}

.box71{
    background-image: url('imgs/HP71.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.box72{
    background-image: url('imgs/HP72.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.box73{
    background-image: url('imgs/HP73.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.box7insideText{
    position: relative;
    top: 500px;
    width: 100%;
    height: 90px;
    /* background-color: #32d255; */

    display: flex;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.rTitle7,    
.lbox7{
    height: 90px;
    align-content: center;
    border-radius: 5px;
    color: #fff;
}

.lbox7{
   padding-left: 40px;
   width: 65%;
   font-weight: 700;
   font-size: 22px;
}

.rTitle7{
    font-size: 16px;
    width: 30%;
    font-weight: 600;
}   


/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* Page 8

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.l_Team8{
    height: 100px;
    width: 70%;
    font-size: 45px;
    font-weight: 650;
    text-transform: uppercase;
    
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.homepage8{
    width: 100%;
    height: 100vh;
}

.home8contents{
    margin: auto;
    margin-top: 20px;
    width: 1720px;
    height: 750px;
    /* background-color: #32d255; */
    position: relative;
    display: flex;
    gap: 20px;
}

.h8bigphotoleft{
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;

    height: 710px;
    width: 1000px;
    /* background-color: #dd3b13; */
    background-image: url('imgs/h8c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.h82smallphotoright{
    height: 100%;
    width: 680px;
    /* background-color: #13d6dd; */
    display: flex;
    flex-direction: column;
}

.box82,
.box83{
    margin: 10px;   
    gap: 20px;
    width: 640px;
    height: 350px;
    background-color: #4152e8;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box82{
    background-image: url('imgs/h8right11.png');
}    
.box83{
    background-image: url('imgs/h8right12.jpg');
}    

.time8{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    width: 110px;
    height: 25px;
    text-align: center;

    position: relative;
    top: 40px;
    left: 50px;
    background-color: #e0784f;
    padding: 5px;
    border-radius: 50px;
}

.shadowbox8left{
    position: relative;
    top: 185px;
    width: 920px;
    height: 420px;
    /* background-color: #38ade8; */
    background: linear-gradient(0, rgba(0, 0, 0, 0.842),rgba(0, 0, 0,0));
    border-radius: 5px;
    padding: 40px;
}

.shadow8NameL{
    position: relative;
    top: 270px;
    left: 20px;
    color: white;    
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;

}

.titleIn8lef{
    position: relative;
    top: 290px;
    left: 20px;
    color: white;
    font-size: 36px;
    font-weight: 600;
}

.shadowbox8Right{
    /* background-color: #32d255; */
    position: relative;
    top: 150px;
    width: 100%;
    height: 200px;
    background: linear-gradient(0, rgba(0, 0, 0, 0.842),rgba(0, 0, 0,0));
}

.shadow8NameR{
    position: relative;
    top: 25px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 22px;
}
.titleIn8R{
    position: relative;
    top: 0px;

    color: white;
    padding: 20px;
    font-weight: 600;
    font-size: 26px;
}

/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 Footer
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.foot{
    background-color: black;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.fmain{
    position: relative;
    top: 40px;
    /* background-color: #32d255; */
    margin: auto;
    padding: 20px;
    width: 1700px;
    height: 550px;
    display: flex;
    gap: 0px;
}

.fleft{
    /* background-color: #d18b09; */
    width: 1000px;
    padding-right: 30px;
    height: inherit;
    margin: 20px;
}

.StayUpdatedText{
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.inputAndButto{
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
}

.emailinput{
    width: 270px;
    padding: 10px;
    padding-left: 65px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px solid white;
    background-color: black;
}

.logoinEmail{
    position: absolute;
    background-image: url('imgs/mail-icon.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: 5px;
    z-index: 1px;
    margin-left: 20px;
}

.subsbtn{
    font-size: 18px;
    text-transform: uppercase;
    background-color: #e0784f;
    font-weight: 600;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
}


.hrc{
    /* background-color: #32d255; */
    opacity: .8;
    /* margin-bottom: 20px; */
    margin-bottom: 40px;
}

.liner_boxf3{
    width: 100%;
    height: 350px;
    /* background-color: #a51e1e;  */
}

.liner_boxf3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    /* justify-content: space-around; */

}

.fpages a,
.fcategories a,
.fresources a{
    text-decoration: none;
}

.fpages li,
.fcategories li,
.fresources li{
    margin-top: 10px;
    list-style: none;
    color: white;
    font-weight: 500;
}

.fh{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}


.fri{
    /* background-color: #6e41e8;  */
    width: 600px;
    height: 500px;
    margin: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.btnf{
    position: relative;
    width: inherit;
    height: 70px;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    padding-left: 90px;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}

.btnf:hover{
    background-color: #5858583f;
    .logo_footer_btn{
        opacity: 1;
    }
}

.logo_footer_btn{
    position: absolute;
    top: 5.5px;
    left: 5.5px;
    padding: 2px;
    height: 55px;
    width: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .4;
}
.fb{
    background-image: url('imgs/fb.png');
}
.yt{
    background-image: url('imgs/yt.png');
}
.ins{
    background-image: url('imgs/ins.png');
}
.x{
    background-image: url('imgs/x.png');
}
.redd{
    background-image: url('imgs/redd.png');
}
.lnk{
    background-image: url('imgs/rss.png');
}

.farrow{
    position: relative;
    left: 385px;
    font-size: 28px;
}


.farrow{
    position: relative;
    left: 385px;
    font-size: 28px;
}

.farrow1{
    position: relative;
    left: 385px;
    font-size: 28px;
}
.farrow2{
    position: relative;
    left: 400px;
    font-size: 28px;
}
.farrow3{
    position: relative;
    left: 380px;
    font-size: 28px;
}
.farrow4{
    position: relative;
    left: 410px;
    font-size: 28px;
}
.farrow5{
    position: relative;
    left: 405px;
    font-size: 28px;
}
.farrow5{
    position: relative;
    left: 415px;
    font-size: 28px;
}
.farrow6{
    position: relative;
    left: 395px;
    font-size: 28px;
}

.socialhr{ 
    margin-top: 4px;
    margin-bottom: 4px;
}
.op8{
    opacity: .8;
}
.op7{
    opacity: .7;
}
.op6{
     opacity: .6;
}
.op5{
    opacity: .5;
}

.lastf{
    /* background-color: #38ade8; */
    height: 70px;
    margin: auto;
    padding-top: 10px;
    width: 1700px;
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
}

.logof{
    background-image: url('imgs/footerLogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    left: 10px;
    width: 180px;
    height: 40px;
    /* background-color:  #32d255; */
}

.vr{
    font-size: 45px;
    position: relative;
    top: -5px;
    color: #262626;
}

.ptl{
    list-style: none;
    margin: 10px;
    gap: 20px;
    display: flex;
}
.ptl a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.ptl li{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.lastwords{
    font-weight: 600;
    color: white;
    margin-top: 20px;
    margin-left: 490px;
}

.figmalink,
.myportfoliolink{
    text-decoration: none;
    color: #38bff8e0;
    font-weight: 600;
}

.figmalink:hover,
.myportfoliolink:hover {
    color: #38bdf8;
}
    
/*  Next Time I have to make it Responsive  for phone :) */